@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";


body {
  background-color: #2A2A2A;
  text-align: center;
}
.logIn{
  height: 75vh;
  padding: 1rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}
.pza {
  height: 40%;
  z-index: 1;
  transform: rotate(-7deg);
}
.logo {
  height: 80%;
  margin-top: -4rem;
  margin-bottom: 1rem;
}
.loginBtn {
  background: #d81258;
  border: 3px solid black;
}
.loginBtn:hover{
  background: #8f2d56;
  border: 3px solid black;
}
.nav {
  background: #343A40;
  padding-top: 1rem;
}
.nav a {
  color: white;
}
.navbar-brand {
  margin-top: -1rem;
}
.navbar, .container-fluid, .navbar-nav {
  width: 90vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.main {
  padding: 1rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  color: white;
}
.cards {
  width: 100vw;
  display: flex;
  flex-flow: row wrap;
  margin: auto;
  padding: .5rem;
}
h1 {
  color: white;
  margin: 2rem;
}
.group {
display: flex;
flex-flow: column nowrap;
justify-content: space-around;
height: 30vh;
width: 20vw;
margin-top: 5rem;
}
.btn {
  color: white;
  margin: .5rem;
}
.mb-4 {
  width: 25vw;
  height: 60vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
}
.box {
  width: 100vw;
  padding: 2rem;
  display: flex;
  flex-flow: row wrap;
}
.d-flex {
  width: 18rem;
  display: flex;
  flex-flow: row wrap;
  color: black;
}
.card {
  margin: .5rem;
}
.card-body {
  color:#2A2A2A;
}
.revHead h1 {
  margin: 4rem;
}
.revPage {
  height: 65vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
}
.revPage p {
  margin: 0;
}
.navbar-nav {
  color: #d81258;
}
